* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(41, 39, 39);
    color: #f8f8f8;
}

canvas {
    background: rgb(126, 119, 119);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jatekCim {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: rgb(126, 119, 119);
}